$black: #333333;
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin size($w,$h) {
    width: $w;
    height: $h;
}
html {
    margin: 0;
    padding: 0;    
}
body {    
    @include center;
    background-attachment: fixed;
    flex-direction: column;
    background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 20px;
}
.container{
    @include center;
    width: 500px;
    flex-direction: column;
    position: relative;
    .main_list {        
        @include size(100%, 100%);
        background-color: #fff;
        box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
        border-radius: 10px;
        overflow: hidden;
        margin-top: 10px;
        .mian_btn {            
            display: flex;
            width: 100%;
            .btn {
                padding: 16px;
                flex: 1;
                border: none;                
                background-color: #fff;
                font-size: 14px;
                color: #9F9A91;
                letter-spacing: 0.7px;
            }
            .btn_active {
                border-bottom: 2px solid #333333;
                color: #333333;
            }
        }
        .list {            
            padding: 0; 
            ul {
                @include size(100%, 100px);        
                padding: 0;    
                margin: 0;    
            }
            li {
                @include size(100%, 50px);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;   
                margin: 0;
                list-style: none;  
                background-color: #fff;     
                transition: 0.5s;
                &:hover
                    .delete {
                        opacity: 1
                    }
                &:hover
                    .delete_notyet{
                        opacity: 1
                    }
                .check {
                    @include size(20px, 20px);
                    flex: 1;
                    border-radius: 5px;
                }
                .todo {
                    border-bottom: 1px solid #EFEFEF;
                    flex: 8;
                    font-size: 16px;
                    color: #333333;
                    letter-spacing: 0.62px;    
                    transition: 0.5s;             
                }
                .delete {
                    @include center;
                    @include size(20px,20px);                    
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 3px;
                    margin-bottom: 10px;
                    flex: 1;
                    background-color: #fff;
                    opacity: 0;
                    transition: 0.2s;
                }
                .delete_notyet {
                    @include center;
                    @include size(20px,20px);                    
                    border: none;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 3px;
                    margin-bottom: 10px;
                    flex: 1;
                    background-color: #fff;
                    opacity: 0;
                    transition: 0.2s;
                }
            }
        }
    }
    .text_bar {
        display: flex;
        align-items: center;
        width: 100%;
        .text{
            width: 100%;
            font-size: 16px;
            color: #9F9A91;
            letter-spacing: 0.7px;
            box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
            border-radius: 10px;
            border: none;
            padding: 12px 375px 12px 24px;
            outline: none;
        }
        .save {
            @include size(40px, 40px);
            border-radius: 10px;
            position: absolute;
            right: 0px;                 
            font-size: 32px;
            background-color: $black;
            color: #FFFFFF;
            border: none; 
    }
    
    }
    .footer {
        display: flex;
        justify-content: space-between;  
        .rest {
            font-size: 14px;
            color: #333333;
            letter-spacing: 0.7px;
            padding: 24px 32px;
        }   
        .clear {
            font-size: 14px;
            color: #9F9A91;
            letter-spacing: 0.7px;
            border: none;
            background-color: #fff;
            padding: 32px 47px;
        }
    }
}
.check {
    @include size(20px, 20px);
    flex: 1;
    border-radius: 5px;
}
label {
    padding-bottom: 10px;
    cursor: pointer;
    margin-left: 30px;
    width: 100%;
}

.decoration {
    text-decoration:line-through;
    color: rgba(51,51,51,0.30);
    opacity: 0.5;
}

.delete_animation {
    opacity: 0;
    transform: translateX(90px);
}