html {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .main_list {
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.container .main_list .mian_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .main_list .mian_btn input {
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: #9F9A91;
  letter-spacing: 0.7px;
}

.container .main_list .list {
  padding: 0;
}

.container .main_list .list ul {
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
}

.container .main_list .list li {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container .main_list .list li:hover .delete {
  opacity: 1;
}

.container .main_list .list li .check {
  width: 20px;
  height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

.container .main_list .list li .todo {
  border-bottom: 1px solid #EFEFEF;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.62px;
  padding: 16px 0;
  margin: 0;
}

.container .main_list .list li .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .text_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .text_bar .text {
  width: 100%;
  font-size: 16px;
  color: #9F9A91;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  padding: 12px 375px 12px 24px;
  outline: none;
}

.container .text_bar .save {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  font-size: 32px;
  background-color: #333333;
  color: #FFFFFF;
  border: none;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .rest {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.7px;
  padding: 24px 32px;
}

.container .footer .clear {
  font-size: 14px;
  color: #9F9A91;
  letter-spacing: 0.7px;
  border: none;
  background-color: #fff;
  padding: 32px 47px;
}

.check {
  width: 20px;
  height: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}
/*# sourceMappingURL=all.css.map */