@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
}

h1 {
  letter-spacing: 8.75px;
  font-size: 48px;
  color: #333333;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .main_list {
  height: 100%;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.container .main_list .mian_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.container .main_list .mian_btn .btn {
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: #fff;
  font-size: 14px;
  color: #9F9A91;
  letter-spacing: 0.7px;
}

.container .main_list .mian_btn .btn_active {
  border-bottom: 2px solid #333333;
  color: #333333;
}

.container .main_list .list {
  padding: 0;
}

.container .main_list .list ul {
  height: 100%;
  width: 100px;
  padding: 0;
  margin: 0;
}

.container .main_list .list li {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .main_list .list li:hover .delete {
  opacity: 1;
}

.container .main_list .list li .check {
  height: 20px;
  width: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

.container .main_list .list li .todo {
  border-bottom: 1px solid #EFEFEF;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  font-size: 16px;
  color: #333333;
  letter-spacing: 0.62px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .main_list .list li .delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  padding: 3px;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .text_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.container .text_bar .text {
  width: 100%;
  font-size: 16px;
  color: #9F9A91;
  letter-spacing: 0.7px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  border: none;
  padding: 12px 50px 12px 24px;
  outline: none;
}

.container .text_bar .save {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  font-size: 32px;
  background-color: #333333;
  color: #FFFFFF;
  border: none;
}

.container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .footer .rest {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0.7px;
  padding: 24px 32px;
}

.container .footer .clear {
  font-size: 14px;
  color: #9F9A91;
  letter-spacing: 0.7px;
  border: none;
  background-color: #fff;
  padding: 32px 47px;
}

.check {
  height: 20px;
  width: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label {
  margin: 30 0px;
  /*設定選項與選項之間的距離*/
  border-bottom: 3px solid black;
}

input[type='checkbox'] + label::before {
  height: 20px;
  width: 20px;
  content: "";
  font-size: 30px;
  float: left;
  background-color: #fff;
  border: 1px solid #333333;
  /*設定選項樣式的邊框*/
  border-radius: 5px;
  /*設定選項樣式為圓圈*/
  margin-right: 20px;
  /*設定圓圈與文字之間的距離*/
  margin-top: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type='checkbox']:checked + label::before {
  position: relative;
  top: -12px;
  content: "✔";
  color: #FFD370;
  border: none;
  background-clip: content-box;
}

label {
  padding-bottom: 10px;
  cursor: pointer;
  margin-left: 30px;
  width: 100%;
}

.decoration {
  text-decoration: line-through;
  color: rgba(51, 51, 51, 0.3);
  opacity: 0.5;
}

.delete_animation {
  opacity: 0;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}
/*# sourceMappingURL=main.css.map */